@let lEvents = events(); @let lCustomers = suggestionsSignal();

<p-toast />
<div class="card">
    <div class="font-semibold text-xl mb-4">Eventos</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar Evento" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
            <p-select (onChange)="onFilterEvents($event)" [options]="eventStatus" optionLabel="value" optionValue="key" placeholder="Filtrar Por" class="w-full md:w-56 mr-2" />
        </ng-template>
    </p-toolbar>
    <app-table [parentId]="''" [tableSettings]="tableSettings" [title]="'Administrar Eventos'" [data]="lEvents" />
</div>

<p-dialog [(visible)]="eventDialog" [style]="{ width: '450px' }" header="Detalle del Evento" [modal]="true">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="flex flex-col gap-6">
                <div>
                    <label for="owner" class="block font-bold mb-3">Cliente</label>
                    <p-autocomplete formControlName="owner" (onSelect)="onSelectCustomer($event)" [suggestions]="lCustomers" [dropdown]="true" optionLabel="name" (completeMethod)="search($event)" />
                    <small class="text-red-500" *ngIf="form.get('owner')?.touched && form.get('owner')?.hasError('required')">Cliente es requerido.</small>
                </div>

                <div>
                    <label for="nit" class="block font-bold mb-3">Cédula / Nit:</label>
                    <input type="text" pInputText id="nit" formControlName="nit" required autofocus fluid />
                </div>

                <div>
                    <label for="description" class="block font-bold mb-3">Tipo de Evento</label>
                    <input type="text" pInputText id="description" formControlName="description" required autofocus fluid />
                    <small class="text-red-500" *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')">Descripción es requerido.</small>
                </div>
                <div>
                    <label for="location" class="block font-bold mb-3">Locación</label>
                    <input type="text" pInputText id="location" formControlName="location" required autofocus fluid />
                    <small class="text-red-500" *ngIf="form.get('location')?.touched && form.get('location')?.hasError('required')">Locación es requerida.</small>
                </div>

                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="date" class="block font-bold mb-3">Fecha Evento</label>
                        <p-datepicker formControlName="date" [iconDisplay]="'input'" [appendTo]="'body'" [showIcon]="true" inputId="icondisplay" id="date" />
                    </div>
                    <div class="col-span-6">
                        <label for="time" class="block font-bold mb-3">Hora Evento</label>
                        <p-datepicker hourFormat="12" class="w-full" formControlName="time" [iconDisplay]="'input'" [appendTo]="'body'" [showIcon]="true" id="time" [timeOnly]="true" inputId="templatedisplay">
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveEvent()" />
    </ng-template>
</p-dialog>
