@let lEmployees = employeesList();

<p-toast />

<div class="card">
    <div class="font-semibold text-xl mb-4">Empleados</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar Empleado" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="employeeDialog = true" />
        </ng-template>
    </p-toolbar>
    <app-table [parentId]="''" [tableSettings]="tableSettings" [title]="'Administrar Empleados'" [data]="lEmployees" />
</div>

<p-dialog [(visible)]="employeeDialog" [style]="{ width: '450px' }" header="Detalle del Empleado" [modal]="true">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="flex flex-col gap-6">
                <div>
                    <label for="name" class="block font-bold mb-3">Nombre</label>
                    <input type="text" pInputText id="name" formControlName="name" required autofocus fluid />
                    <small class="text-red-500" *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">Nombre es requerido.</small>
                </div>

                <div>
                    <label for="cc" class="block font-bold mb-3">Cédula</label>
                    <input type="text" pInputText id="nit" formControlName="cc" required autofocus fluid />
                    <small class="text-red-500" *ngIf="form.get('cc')?.touched && form.get('cc')?.hasError('required')">Cédula es requerida.</small>
                </div>

                <div>
                    <label for="price" class="block font-bold mb-3">Precio Hora</label>
                    <p-inputnumber id="price" formControlName="hourPrice" mode="currency" [minFractionDigits]="0" currency="COP" fluid />
                    <small class="text-red-500" *ngIf="form.get('hourPrice')?.touched && form.get('hourPrice')?.hasError('required')">Precio hora es requerido.</small>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="employeeDialog = false" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveEmployee()" [disabled]="form.invalid" />
    </ng-template>
</p-dialog>
<p-confirmdialog [style]="{ width: '450px' }" />
