<p-toast />

<div class="h-screen flex flex-col">
    <div class="shrink-0">
        <div class="font-semibold text-3xl mb-2">Detalle del Evento</div>

        <div class="hidden lg:block">
            <div class="card flex justify-between !p-4 !mb-4" [ngStyle]="{'border': totalEvent.status === 'pending' ? '2px solid #ef4444 ': totalEvent.status === 'completed' ? '2px solid #22c55e':'2px solid #0ea5e9'}">
                <div>
                    <span class="text-2xl font-bold">{{totalEvent.name}}</span>
                    <div>
                        <span class="mr-2 font-bold">{{totalEvent.owner }}</span>
                    </div>

                    <div class="mb-4">
                        <span>{{totalEvent.date | date:'d \'de\' MMMM \'de\' y':'es' }}</span>
                        <span> a las {{totalEvent.time | date:'h:mm a' }}</span>
                    </div>

                    <div>
                        <span>{{totalEvent.description }}</span>
                    </div>
                </div>
                <div>
                    <p-select (onChange)="updateStatus($event)" [options]="eventStatus" [(ngModel)]="totalEvent.status" optionLabel="value" optionValue="key" placeholder="Actualizar Estado" class="w-full md:w-44 mr-2" />
                    <p-button label="Exportar" class="mr-2" severity="success" raised (onClick)="exportEvent()" />
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 mb-4">
                <div class="col-span-12 lg:col-span-6 xl:col-span-3">
                    <div class="card mb-0 !p-4 !py-2">
                        <div class="flex justify-between">
                            <div>
                                <span class="block text-muted-color font-medium mb-4">Total Cuenta de Cobro</span>
                                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ showTotals.totalRentalPrice ? (totalEvent.totalRentalPrice | currency:'COP':'symbol':'1.0-0'): (totalEvent.totalRentalPrice | mask) }}</div>
                            </div>
                            <p-button [icon]="  showTotals.totalRentalPrice ? 'pi pi-eye-slash': 'pi pi-eye'" (onClick)="toggle(!showTotals.totalRentalPrice, 'totalRentalPrice')" [rounded]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6 xl:col-span-3">
                    <div class="card mb-0 !p-4 !py-2">
                        <div class="flex justify-between">
                            <div>
                                <span class="block text-muted-color font-medium mb-4">Total Mano de Obra</span>
                                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ showTotals.totalHourCost ? (totalEvent.totalHourCost | currency:'COP':'symbol':'1.0-0') : (totalEvent.totalHourCost | mask) }}</div>
                            </div>
                            <p-button [icon]="  showTotals.totalHourCost ? 'pi pi-eye-slash': 'pi pi-eye'" (onClick)="toggle(!showTotals.totalHourCost, 'totalHourCost')" [rounded]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6 xl:col-span-3">
                    <div class="card mb-0 !p-4 !py-2">
                        <div class="flex justify-between">
                            <div>
                                <span class="block text-muted-color font-medium mb-4">Total Gastos </span>
                                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ showTotals.totalBillValue ? (totalEvent.totalBillValue | currency:'COP':'symbol':'1.0-0'): totalEvent.totalBillValue | mask}}</div>
                            </div>
                            <p-button [icon]="  showTotals.totalBillValue ? 'pi pi-eye-slash': 'pi pi-eye'" (onClick)="toggle(!showTotals.totalBillValue, 'totalBillValue')" [rounded]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6 xl:col-span-3">
                    <div class="rounded-[6px] mb-0 !p-4 !py-2" [ngClass]="{'bg-red-200' : utility() <= 0, 'bg-green-200' : utility() > 0 , 'card': utility() === 0  }">
                        <div class="flex justify-between">
                            <div>
                                <span class="block text-muted-color font-medium mb-4">Utilidad</span>
                                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ showTotals.utility ? (utility() | currency:'COP':'symbol':'1.0-0') : utility() | mask}}</div>
                            </div>
                            <p-button [icon]="  showTotals.utility ? 'pi pi-eye-slash': 'pi pi-eye'" (onClick)="toggle(!showTotals.utility, 'utility')" [rounded]="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block lg:hidden space-y-2 card">
            <div class="text-xl font-semibold">{{ totalEvent.name }}</div>
            <div class="text-sm text-gray-600">{{ totalEvent.owner }}</div>
            <div class="text-sm text-gray-600">{{ totalEvent.time | date:'shortDate' }}</div>
            <div class="text-sm text-gray-700">{{ totalEvent.description }}</div>

            <div class="flex justify-between items-center mt-4">
                <div>
                    <div class="text-xs text-gray-500">Total Cobro</div>
                    <div class="text-base font-semibold">{{ totalEvent.totalRentalPrice | currency:'COP':'symbol':'1.0-0' }}</div>
                </div>
                <div>
                    <div class="text-xs text-gray-500 text-right">Mano de Obra</div>
                    <div class="text-base font-semibold text-right">{{ totalEvent.totalHourCost | currency:'COP':'symbol':'1.0-0' }}</div>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div>
                    <div class="text-xs text-gray-500">Gastos</div>
                    <div class="text-base font-semibold">{{ totalEvent.totalBillValue | currency:'COP':'symbol':'1.0-0' }}</div>
                </div>
                <div>
                    <div class="text-xs text-gray-500 text-right">Utilidad</div>
                    <div class="text-base font-semibold text-right" [ngClass]="{ 'text-green-600': utility() > 0, 'text-red-600': utility() <= 0 }">{{ utility() | currency:'COP':'symbol':'1.0-0' }}</div>
                </div>
            </div>
            <div class="flex justify-between mt-4">
                <p-select (onChange)="updateStatus($event)" [options]="eventStatus" size="small" [(ngModel)]="status" optionLabel="value" optionValue="key" placeholder="Actualizar Estado" class="w-full md:w-44 mr-2" />
                <p-button label="Exportar" size="small" class="mr-2" severity="success" raised (onClick)="exportEvent()" />
            </div>
        </div>

        <p-tabs value="quote" class="overflow-x-auto whitespace-nowrap lg:whitespace-normal">
            <p-tablist class="flex lg:flex-wrap gap-2 min-w-max">
                @for(tab of tabs; track tab.route){
                <p-tab [value]="tab.route" [routerLink]="tab.route" class="flex items-center gap-1 px-3 py-2 text-sm whitespace-nowrap">
                    <i [class]="tab.icon"></i>
                    <span>{{ tab.label }}</span>
                </p-tab>
                }
            </p-tablist>
        </p-tabs>
    </div>

    <div class="grow overflow-y-auto">
        <router-outlet />
    </div>
</div>
