<p-toast />
<form [formGroup]="form">
    <div class="flex flex-wrap gap-4">
        <!-- Daytime Overtime Hour -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="daytimeOvertimeHour" class="block font-bold mb-3">Recargo Hora Extra Diurna</label>
            <p-inputnumber id="daytimeOvertimeHour" formControlName="daytimeOvertimeHour" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('daytimeOvertimeHour')?.touched && form.get('daytimeOvertimeHour')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Regular Nighttime Hour -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="regularNighttimeHour" class="block font-bold mb-3">Recargo Nocturno</label>
            <p-inputnumber id="regularNighttimeHour" formControlName="regularNighttimeHour" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('regularNighttimeHour')?.touched && form.get('regularNighttimeHour')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Nighttime Overtime Hour -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="nighttimeOvertimeHour" class="block font-bold mb-3">Hora Extra Nocturna</label>
            <p-inputnumber id="nighttimeOvertimeHour" formControlName="nighttimeOvertimeHour" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('nighttimeOvertimeHour')?.touched && form.get('nighttimeOvertimeHour')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Sunday and Holiday Hour -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="sundayAndHolidayHour" class="block font-bold mb-3">Hora Dominicales y Festivos</label>
            <p-inputnumber id="sundayAndHolidayHour" formControlName="sundayAndHolidayHour" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('sundayAndHolidayHour')?.touched && form.get('sundayAndHolidayHour')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Daytime Overtime Sunday/Holiday -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="daytimeOvertimeSundayHoliday" class="block font-bold mb-3">Hora Extra Diurna Dominicales y Festivos</label>
            <p-inputnumber id="daytimeOvertimeSundayHoliday" formControlName="daytimeOvertimeSundayHoliday" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('daytimeOvertimeSundayHoliday')?.touched && form.get('daytimeOvertimeSundayHoliday')?.hasError('required')">Campo requerido</small>
        </div>

        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="nightWorkSundayHoliday" class="block font-bold mb-3">Hora Nocturno Dominical o Festivo</label>
            <p-inputnumber id="nightWorkSundayHoliday" formControlName="nightWorkSundayHoliday" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('nightWorkSundayHoliday')?.touched && form.get('nightWorkSundayHoliday')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Nighttime Overtime Sunday/Holiday -->
        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="nighttimeOvertimeSundayHoliday" class="block font-bold mb-3">Hora Extra Nocturna Dominicales y Festivos</label>
            <p-inputnumber id="nighttimeOvertimeSundayHoliday" formControlName="nighttimeOvertimeSundayHoliday" fluid suffix="%" />
            <small class="text-red-500" *ngIf="form.get('nighttimeOvertimeSundayHoliday')?.touched && form.get('nighttimeOvertimeSundayHoliday')?.hasError('required')">Campo requerido</small>
        </div>

        <!-- Night Work on Sunday/Holiday -->

        <div class="flex flex-col flex-1 min-w-[250px]">
            <label for="auxiliaryTrasport" class="block font-bold mb-3">Auxilio Transporte</label>
            <p-inputnumber id="auxiliaryTrasport" formControlName="auxiliaryTrasport" mode="currency" [minFractionDigits]="0" currency="COP" fluid />
            <small class="text-red-500" *ngIf="form.get('auxiliaryTrasport')?.touched && form.get('auxiliaryTrasport')?.hasError('required')">Campo requerido</small>
        </div>
    </div>
</form>
<div class="flex justify-end mt-4">
    <p-button label="Guardar" icon="pi pi-check" (click)="saveSettings()" [disabled]="form.invalid" />
</div>
