<div class="font-semibold text-xl mb-4 mt-5">Agregar Seccion</div>
<p-toast />

<div class="mt-2 flex flex-row gap-4">
    <p-select [options]="sections()" [(ngModel)]="selectedSection" [checkmark]="true" optionLabel="module" [showClear]="true" placeholder="Seleccionar sección" class="w-full md:w-56" />
    <p-button label="Agregar" icon="pi pi-plus" severity="secondary" class="mr-2" [disabled]="!selectedSection" (onClick)="saveSection()" />
</div>

@for(section of clientSections(); track section._id) {

<div class="mt-5 card">
    <div class="font-semibold text-xl mb-4">{{section.name}}</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Nuevo Item" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew(section._id, null)" />
        </ng-template>
        <ng-template #end>
            <p-button label="Guardar" icon="pi pi-plus" class="mr-2" (onClick)="saveDescription(section._id, section.description)" />
        </ng-template>
    </p-toolbar>
    <textarea rows="5" cols="30" class="w-full" pTextarea [(ngModel)]="section.description"></textarea>
    <app-table [parentId]="section._id" [tableSettings]="tableSettings" [footerValues]="section.footer" [title]="'Administrar'" [data]="section.items" />
</div>
} @for(section of adminSections(); track section._id) {
<div class="mt-5 card">
    <div class="font-semibold text-xl mb-4">{{section.name}}</div>
    <app-table [parentId]="section._id" [tableSettings]="tableAdminSettings" [footerValues]="section.footer" [title]="'Administrar'" [data]="section.items" />
</div>
}

<p-dialog [(visible)]="itemDialog" [style]="{ width: '450px' }" header="Detalle del Item" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div class="w-full">
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <div class="flex flex-col w-full">
                    <p-autocomplete [(ngModel)]="item.name" [disabled]="isItemDialogAdmin" [suggestions]="inventory()" [dropdown]="true" optionValue="name" optionLabel="name" (completeMethod)="search($event)" (onSelect)="onSelectItem($event)" />
                </div>
                <small class="text-red-500" *ngIf="submitted && !item.name">Nombre es requerido.</small>
            </div>

            <div class="col-span-6" *ngIf="!isItemDialogAdmin">
                <label for="price" class="block font-bold mb-3">Cantidad</label>
                <p-inputnumber id="price" [ngModel]="item.quantity" (ngModelChange)="onChangeQuantity($event)" [minFractionDigits]="0" fluid />
            </div>

            <div class="col-span-6">
                <label for="price" class="block font-bold mb-3">{{ isItemDialogAdmin ? "Valor":"Valor Alquiler"}}</label>
                <p-inputnumber id="price" [(ngModel)]="item.rentalPrice" mode="currency" [minFractionDigits]="0" currency="COP" fluid />
                <small class="text-red-500" *ngIf="submitted && !item.rentalPrice">Valor Alquiler es requerido.</small>
            </div>

            @if(!isItemDialogAdmin){

            <div class="col-span-6">
                <label for="price" class="block font-bold mb-3">Valor Costo</label>
                <p-inputnumber id="price" [(ngModel)]="item.costPrice" mode="currency" [minFractionDigits]="0" currency="COP" fluid />
            </div>

            <label for="price" class="block font-bold">Propietario</label>

            <div class="flex flex-wrap gap-4">
                <div class="flex items-center">
                    <p-radiobutton name="propio" value="Propio" [(ngModel)]="item.owner" inputId="propio" />
                    <label for="propio" class="ml-2">Propio</label>
                </div>

                <div class="flex items-center">
                    <p-radiobutton name="Tercero" value="Tercero" [(ngModel)]="item.owner" inputId="Tercero" />
                    <label for="Tercero" class="ml-2">Tercero</label>
                </div>
            </div>
            }
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="!isUtilityItem ? saveItem(): saveUtility()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
