@let lModules = modules();

<p-toast />

<div class="card">
    <div class="font-semibold text-xl mb-4">Módulos</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar Módulo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="newModule()" />
        </ng-template>
    </p-toolbar>
    <app-table [parentId]="''" [tableSettings]="tableSettings" [title]="'Administrar Módulos'" [data]="lModules" />
</div>

<p-dialog [(visible)]="moduleDialog" [style]="{ width: '450px' }" header="Detalle del módulo" [modal]="true">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="flex flex-col gap-6">
                <div>
                    <label for="module" class="block font-bold mb-3">Módulo</label>
                    <input type="text" pInputText id="module" formControlName="module" required autofocus fluid />
                    <small class="text-red-500" *ngIf="form.get('module')?.touched && form.get('module')?.hasError('required')">Módulo es requerido.</small>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="moduleDialog = false" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveModule()" [disabled]="form.invalid" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
