<p-toast />
<div class="card">
    <div class="font-semibold text-xl mb-4">Módulos</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Nuevo Módulo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="modules()"
        [rows]="10"
        [columns]="cols"
        [paginator]="true"
        [globalFilterFields]="['module']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} modulos"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Administrar Modulos</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 4rem"></th>
                <th pSortableColumn="module" style="min-width: 16rem">
                    Módulo
                    <p-sortIcon field="module" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-module>
            <tr>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editModule(module)" />
                </td>
                <td style="min-width: 12rem">{{ module.module }}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="moduleDialog" [style]="{ width: '450px' }" header="Detalle del módulo" [modal]="true">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="module" class="block font-bold mb-3">Módulo</label>
                    <input type="text" pInputText id="module" [(ngModel)]="module.module" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !module.module">Módulo es requerido.</small>
                </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Guardar" icon="pi pi-check" (click)="saveModule()" />
        </ng-template>
    </p-dialog>
</div>
